.truncate {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.example-header-image {
    background-image: url('/exam.png');
    background-size: cover;
}