img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.full-width {
    width: 100%;
}


.custom-card {
    background-color: white;
    /* very light white-grey */
    /* dark grey text */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    /* subtle shadow */
}